.page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: 2rem auto 1rem;
  padding: 0 1rem;

  p,
  b {
    margin: 0 0 1rem 0;
  }
}
